projects{
	.gallery{
		margin-bottom: 50px;

		.jumbotron{
			background-image: url('../../app/assets/headers/projects.jpg');
			background-repeat: no-repeat;
			background-position: top center;
			background-attachment: cover;
			background-size: 100%;
			h1{
				letter-spacing: 1rem;
			}
		}

		.brand{
			height: 200px;
			max-height:100px;
			padding-top:15px;
			margin-bottom:15px;

			img{
				max-height: 100px;	
				width: auto;
				max-width: 200px;
				position: absolute;
			    margin: auto;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			}
		}
	}
}